@use 'element-plus/theme-chalk/src/common/var.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/config.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins.scss' as *;

@include b(line-tree) {
  .#{$namespace}-tree-node__content {
    height: 32px;
  }
  .#{$namespace}-tree-node__expand-icon {
    display: none;
  }
  .#{$namespace}-tree-node__children {
    position: relative;
    margin-left: 16px;
  }
  .#{$namespace}-tree-node[data-key='1'] {
    & > .#{$namespace}-tree-node__children {
      margin-left: 0px;
    }
  }
}

@include b(line-tree-node) {
  &__custom {
    user-select: none;
    display: flex;
    align-items: center;
    &-collapse {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
    }
    & .is-leaf {
      color: transparent;
      cursor: default;
      visibility: hidden;
    }
    &-content {
      margin-right: 4px;
    }
  }
}

:root {
  --tv-Tree-node-padding-x: 16px; // padding间距值
  --tv-Tree-node-showline-icon-size: 16px; // el-line-tree-node__custom-collapse的宽度
  --tv-Tree-node-guide-line-width: 8px; // el-line-tree-node__custom-collapse宽度的一半
  --tv-Tree-node-content-height: 32px; // el-line-tree-node__content的高度
  --tv-Tree-node-guide-line-border-color: #f0f0f0;
  --tv-Tree-node-guide-line-border-color: #f0f0f0;
}
.tree-node__content-indent {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: calc(50% - 1px);
    left: 50%;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
  }
}

.tree-node__child-indent {
  position: absolute;
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: calc(100% - 32px);
    left: 50%;
    border-left: 1px solid green;
    // border-bottom: 1px solid green;
  }
}
